@font-face {
  font-family: 'Coluna';
  src: url('../assets/fonts/Coluna.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo.ttf');
  font-weight: 400;
}
